* {
  box-sizing: content-box;
  font-family: "Sansita", sans-serif;
  margin: 0;
}

.title {
  font-family: "Sansita", sans-serif;
  color: #1170DF;
  font-weight: 800;
}

.subtitles {
  font-family: "Sansita", sans-serif !important;
  color: #012650 !important;
  font-weight: 400 !important;
}

.write {
  font-family: "Sansita", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 4ch;
}

/* particulas */
#particles-js {
  position: absolute;
  height: 110%;
  width: 100%;
}

/*svg animation*/
#llave {
  animation: gravity 1.5s ease-in-out infinite alternate;
}

#Code {
  animation: reverseGR 1.5s ease-in-out infinite alternate;
}

#Image {
  animation: gravity 1s ease-in-out infinite alternate;
}

#Clouds {
  animation: gravityCC 1s infinite alternate;
}

@keyframes gravityCC {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(25deg);
  }
}
@keyframes gravity {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(30deg);
  }
}
@keyframes reverseGR {
  from {
    transform: rotateX(35deg);
  }
  to {
    transform: rotateX(0);
  }
}
.header {
  width: 100%;
}
.header .bd-fig {
  display: none;
}
.header .figures {
  display: none;
}
.header .image {
  display: none;
}
.header .name {
  width: 100% !important;
  font-size: 15ch !important;
  text-align: center;
}
.header .name, .header .subtitle {
  color: #1170DF;
  cursor: default;
}
.header .hero {
  position: relative;
  background-color: transparent;
}

@media (min-width: 991px) {
  .header .bd-fig {
    display: block;
    width: 100%;
  }
  .header .navbar-collapse {
    width: 35% !important;
  }
  .header .content-links {
    background-color: transparent;
    width: 100%;
  }
  .header .nav-link {
    color: #1170DF !important;
  }
  .header .nav-link:hover {
    color: #012650 !important;
  }
  .header h1 {
    font-family: "Sansita", sans-serif;
    color: #1170DF;
  }
  .header .figures {
    display: block;
    width: 50%;
  }
  .header .image {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.svg-anim {
  width: 100%;
  height: 100%;
}

.about-me {
  background-color: white;
  width: 100%;
}
.about-me .title-box {
  width: 100%;
}
.about-me .photo-box {
  transform-style: preserve-3d;
  background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
}
.about-me .photo {
  object-fit: contain;
  width: 75%;
  height: 100%;
  margin: 2.5em 2.5em;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  z-index: 10;
}
.about-me .write-about {
  width: 100%;
  text-align: center;
}
.about-me .title-about {
  text-align: center;
  font-size: 4ch !important;
}

@media (min-width: 991px) {
  .about-me .content-info {
    flex-direction: row !important;
  }
  .about-me .title-box {
    width: 75%;
  }
  .about-me .photo {
    width: 25%;
    height: 100%;
  }
  .about-me .write-about {
    width: 50%;
    text-align: right;
  }
  .about-me .title-about {
    font-size: 7ch !important;
  }
}

/*# sourceMappingURL=styles.css.map */
