* {
  box-sizing: content-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.title {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(50.78deg, #1170DF 49.97%, #00D5E2 94.42%);
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitles {
  font-family: "Nunito", sans-serif !important;
  color: #012650 !important;
  font-weight: 400 !important;
}

.write {
  font-family: "Nunito", sans-serif;
  color: black;
  font-weight: 300;
  font-size: 4ch;
}

/* particulas */
#particles-js {
  position: absolute;
  height: 125%;
  width: 100%;
}

/*svg animation*/
#llave {
  animation: gravity 1.5s ease-in-out infinite alternate;
}

#Code {
  animation: reverseGR 1.5s ease-in-out infinite alternate;
}

#Image {
  animation: gravity 1s ease-in-out infinite alternate;
}

#Clouds {
  animation: gravityCC 1s infinite alternate;
}

@keyframes gravityCC {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(25deg);
  }
}
@keyframes gravity {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(30deg);
  }
}
@keyframes reverseGR {
  from {
    transform: rotateX(35deg);
  }
  to {
    transform: rotateX(0);
  }
}
.hero-content {
  height: 50em;
}

.header {
  width: 100%;
}
.header .bd-fig {
  display: none;
}
.header .figures {
  display: none;
}
.header .image {
  display: none;
}
.header .name {
  width: 100% !important;
  font-size: 5em !important;
  text-align: center;
}
.header .name, .header .subtitle {
  color: #1170DF;
  cursor: default;
}
.header .hero {
  position: relative;
  background-color: transparent;
}

@media (min-width: 991px) {
  .header .bd-fig {
    display: block;
    width: 100%;
  }
  .header .navbar-collapse {
    width: 35% !important;
  }
  .header .content-links {
    background-color: transparent;
    width: 100%;
  }
  .header .nav-link {
    color: #1170DF !important;
  }
  .header .nav-link:hover {
    color: #012650 !important;
  }
  .header h1 {
    font-family: "Nunito", sans-serif;
    color: #1170DF;
  }
  .header .figures {
    display: block;
    width: 50%;
  }
  .header .image {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.svg-anim {
  width: 100%;
  height: 100%;
}

.about-me {
  background-color: white;
  margin: 0 auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-me .padding-about {
  padding: 5% 0 !important;
}
.about-me .title-box {
  width: 100%;
}
.about-me .photo-box {
  transform-style: preserve-3d;
  background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
  width: 75%;
  height: 75%;
  margin: 0 auto;
}
.about-me .photo {
  object-fit: contain;
  width: 85%;
  height: 95%;
  margin: 7%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  z-index: 10;
}
.about-me .write-about {
  width: 100%;
  text-align: center;
}
.about-me .title-about {
  background: linear-gradient(50.78deg, #1170DF 49.97%, #00D5E2 94.42%);
  text-align: center;
  font-size: 4ch !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 991px) {
  .about-me .padding-about {
    padding: 10% 0 !important;
  }
  .about-me .content-info {
    flex-direction: row !important;
  }
  .about-me .title-box {
    width: 75%;
  }
  .about-me .photo-box {
    width: 25%;
    height: 100%;
    margin: 1.5em 3%;
  }
  .about-me .photo {
    width: 75%;
    height: 100%;
    margin: 12%;
  }
  .about-me .write-about {
    width: 50%;
    text-align: right;
  }
  .about-me .title-about {
    font-size: 7ch !important;
  }
}
.what-know {
  width: 100%;
  background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
}
.what-know .title-what {
  color: white !important;
  text-align: center;
  padding: 40% 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.6em;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
