//variables
$base-color: #1170DF;
$hover-base-color: #012650;
$second-color:#00D5E2;
$gradient-color: linear-gradient(50.78deg, #1170DF 49.97%, #00D5E2 94.42%);
$font: 'Nunito', sans-serif;

*  {
    box-sizing: content-box;
    font-family: $font;
    margin: 0;
  }

.title {
  font-family: $font;
  background: $gradient-color;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.subtitles {
  font-family: $font !important;
  color: $hover-base-color !important;
  font-weight: 400 !important;
}

.write {
  font-family: $font;
  color: black;
  font-weight: 300;
  font-size: 4ch;
}

/* particulas */ 
  
#particles-js {
  position: absolute;
  height: 125%;
  width: 100%;
}

/*svg animation*/
#llave {
  animation: gravity 1.5s ease-in-out infinite alternate;
}
#Code {
  animation: reverseGR 1.5s ease-in-out infinite alternate;
}
#Image {
  animation: gravity 1s ease-in-out infinite alternate;
}

#Clouds {
  animation: gravityCC 1s infinite alternate;
}
@keyframes gravityCC {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(25deg);
  }
}
@keyframes gravity {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(30deg);
  }
}

@keyframes reverseGR {
  from {
    transform: rotateX(35deg);
  }

  to {
    transform: rotateX(0);
  }
}

.hero-content {
  height: 50em;
}

.header {
  width: 100%;
  .bd-fig {
    display: none;
  }
  .figures {
    display: none;
  }

  .image {
    display: none;
  }

  .name {
    width: 100% !important;
    font-size: 5em !important;
    text-align: center;
  }
  .name, .subtitle {
    color: $base-color;
    cursor: default;
  }

  .hero {
    position: relative;
    background-color: transparent;
  }
}


@media (min-width: 991px) {
  .header {
    .bd-fig {
      display: block;
      width: 100%;
    }
    .navbar-collapse {
      width: 35% !important;
    }
    .content-links {
      background-color: transparent;
      width: 100%;
    }
    .nav-link {
      color: $base-color !important;
    }
  
    .nav-link:hover {
      color:$hover-base-color !important;
    }
  
    h1 {
     font-family: $font;
     color: $base-color;
    }
    .figures {
      display: block;
      width: 50%;
    }
    .image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  
}

.svg-anim {
  width: 100%;
  height: 100%;
}

.about-me {
  background-color: white;
  margin: 0 auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  .padding-about {
    padding: 5% 0 !important;
  }
  .title-box {
    width: 100%;
  }

  .photo-box {
    transform-style: preserve-3d;
    background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
    width: 75%;
    height: 75%;
    margin: 0 auto;
  }

  .photo {
    object-fit: contain;
    width: 85%;
    height: 95%;
    margin: 7%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    z-index: 10;
  }

  .write-about {
    width: 100%;
    text-align: center;
  }
  .title-about {
    background: linear-gradient(50.78deg, #1170DF 49.97%, #00D5E2 94.42%);
    text-align: center;
    font-size: 4ch !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 991px) {
  .about-me {
    .padding-about {
      padding: 10% 0 !important;
    }
    .content-info {
      flex-direction: row !important;
    }
    .title-box {
      width: 75%;
    }
    .photo-box {
      width: 25%;
      height: 100%;
      margin: 1.5em 3%;
    }
    .photo {
      width: 75%;
      height: 100%;
      margin: 12%;
    }
    .write-about {
      width: 50%;
      text-align: right;
    }
    .title-about {
      font-size: 7ch !important;
    }
  }
}  

.what-know {
  width: 100%;
  background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);

  .title-what {
    color: white !important;
    text-align: center;
    padding: 40%;
    font-family: $font;
    font-weight: 800;
  }
}

.information {

}