//variables
$base-color: #1170DF;
$hover-base-color: #012650;
$second-color:#00D5E2;
$gradient-color: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
$font: 'Nunito', sans-serif;

*  {
    box-sizing: content-box;
    font-family: $font;
    margin: 0;
  }

.title {
  font-family: $font;
  background: $gradient-color;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.subtitles {
  font-family: $font !important;
  color: $hover-base-color !important;
  font-weight: 400 !important;
}

.write {
  font-family: $font;
  color: black;
  font-weight: 300;
  font-size: 4ch;
}

.figures {
  display: none;
}
@media (min-width: 991px) {
  .figures {
    display: block;
    width: 50%;
  }
}


/* particulas */ 
  
#particles-js {
  position: absolute;
  height: 125%;
  width: 100%;
}

/*svg animation*/
#llave {
  animation: gravity 1.5s ease-in-out infinite alternate;
}
#Code {
  animation: reverseGR 1.5s ease-in-out infinite alternate;
}
#Image {
  animation: gravity 1s ease-in-out infinite alternate;
}

#Clouds {
  animation: gravityCC 1s infinite alternate;
}
@keyframes gravityCC {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(25deg);
  }
}
@keyframes gravity {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(30deg);
  }
}

@keyframes reverseGR {
  from {
    transform: rotateX(35deg);
  }

  to {
    transform: rotateX(0);
  }
}

.hero-content {
  height: 50em;
}

.header {
  width: 100%;
  .bd-fig {
    display: none;
  }

  .image {
    display: none;
  }

  .name {
    width: 100% !important;
    font-size: 5em !important;
    text-align: center;
  }
  .name, .subtitle {
    color: $base-color;
    cursor: default;
  }

  .hero {
    position: relative;
    background-color: transparent;
  }
}


@media (min-width: 991px) {
  .header {
    .bd-fig {
      display: block;
      width: 100%;
    }
    .navbar-collapse {
      width: 35% !important;
    }
    .content-links {
      background-color: transparent;
      width: 100%;
    }
    .nav-link {
      color: $base-color !important;
    }
  
    .nav-link:hover {
      color:$hover-base-color !important;
    }
  
    h1 {
     font-family: $font;
     color: $base-color;
    }
    
    .image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  
}

.svg-anim {
  width: 100%;
  height: 100%;
}

.about-me {
  background-color: white;
  margin: 0 auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  .padding-about {
    padding: 5% 0 !important;
  }
  .title-box {
    width: 100%;
  }

  .photo-box {
    transform-style: preserve-3d;
    background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
    width: 75%;
    height: 75%;
    margin: 0 auto;
  }

  .photo {
    object-fit: contain;
    width: 85%;
    height: 95%;
    margin: 7%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    z-index: 10;
  }

  .write-about {
    width: 100%;
    text-align: center;
  }
  .title-about {
    background: linear-gradient(50.78deg, #1170DF 49.97%, #00D5E2 94.42%);
    text-align: center;
    font-size: 4ch !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 991px) {
  .about-me {
    .padding-about {
      padding: 10% 0 !important;
    }
    .content-info {
      flex-direction: row !important;
    }
    .title-box {
      width: 75%;
    }
    .photo-box {
      width: 25%;
      height: 100%;
      margin: 1.5em 3%;
    }
    .photo {
      width: 75%;
      height: 100%;
      margin: 12%;
    }
    .write-about {
      width: 50%;
      text-align: right;
    }
    .title-about {
      font-size: 7ch !important;
    }
  }
}  

.what-know {
  width: 100%;
  background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);

  .title-what {
    color: white !important;
    text-align: center;
    padding: 40% 0;
    font-family: $font;
    font-weight: 800;
  }
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.6em;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.contact-content {
  display: flex;
  justify-content: space-around;
}

.form {
  width: 75%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2em 0;

  h2 {
    font-family: $font;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5em;
  }
  h3 {
    font-family: $font;
    font-size: 1em;
    font-weight: 400;
    color: $hover-base-color;
    opacity: 0.5;
    text-align: center;
    width: 100%;
  }

  fieldset {
    width: 100%;
  }

  .input-form {
    width: 85%;
    margin: 0.5em 1em;
    border: 0.3px solid rgba(0, 0, 0, 0.24);
  }
  
  textarea {
    width: 85%;
    margin: 0.5em 1em;
    height: 100%;
    border: 0.3px solid rgba(0, 0, 0, 0.24);
  }

  .btn-send {
    width: 85%;
    margin: 0.5em 1em;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    padding: 2px;
    margin-bottom: 1em;
    transition: 0.5s ease-in-out;
  }

  .btn-send:hover {
    background-color: $base-color;
    color: white;
  }


}

@media (min-width: 991px) {
  .form {
    width: 25%;
  }
}

.contact-content {
  width: 100%;
  height: 100%;  
}

.h2-contact {
  margin: 1em 0;
  text-align: center;
  position: relative;
}

.h2-contact::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1.5px;
  background-color: $hover-base-color;
  right: 5%;
  top: 50%;
}

.h2-contact::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1.5px;
  background-color: $hover-base-color;
  left: 5%;
  top: 50%;
}

.h2-message {
  margin: 1em 0;
  text-align: center;
  position: relative;
}

.contact-icons {
  display: flex;
  justify-content: center;

  .iconify {
    width: 5em;
    height: 5em;
    margin: 1em;
    transition: 0.5s;
  }

  .insta:hover {
   color: purple;
  }

  .linkd:hover {
    color: #0e76a8;
  }

  .git:hover {
    color: tomato;
  }
  .email:hover {
    color: palegoldenrod;
  }
  .teleg:hover {
    color: rgb(64, 179, 224);
  }
}

footer {
  background: $gradient-color;
  margin: 0;

  h1 {
    padding: 2em;
    margin: 0;
    color: white;
    text-align: center;
  }
}


