//variables
$base-color: #1170DF;
$hover-base-color: #012650;
$second-color:#00D5E2;
$gradient-color: linear-gradient(180deg, #A20013 58.88%, #233944 100%);
$font: 'Sansita', sans-serif;

*  {
    box-sizing: content-box;
    font-family: $font;
    margin: 0;
  }

.title {
  font-family: $font;
  color: $base-color;
  font-weight: 800;
} 

.subtitles {
  font-family: $font !important;
  color: $hover-base-color !important;
  font-weight: 400 !important;
}

.write {
  font-family: $font;
  color: black;
  font-weight: 400;
  font-size: 4ch;
}

/* particulas */ 
  
#particles-js {
  position: absolute;
  height: 110%;
  width: 100%;
}

/*svg animation*/
#llave {
  animation: gravity 1.5s ease-in-out infinite alternate;
}
#Code {
  animation: reverseGR 1.5s ease-in-out infinite alternate;
}
#Image {
  animation: gravity 1s ease-in-out infinite alternate;
}

#Clouds {
  animation: gravityCC 1s infinite alternate;
}
@keyframes gravityCC {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(25deg);
  }
}
@keyframes gravity {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(30deg);
  }
}

@keyframes reverseGR {
  from {
    transform: rotateX(35deg);
  }

  to {
    transform: rotateX(0);
  }
}

.header {
  width: 100%;
  .bd-fig {
    display: none;
  }
  .figures {
    display: none;
  }

  .image {
    display: none;
  }

  .name {
    width: 100% !important;
    font-size: 15ch !important;
    text-align: center;
  }
  .name, .subtitle {
    color: $base-color;
    cursor: default;
  }

  .hero {
    position: relative;
    background-color: transparent;
  }
}


@media (min-width: 991px) {
  .header {
    .bd-fig {
      display: block;
      width: 100%;
    }
    .navbar-collapse {
      width: 35% !important;
    }
    .content-links {
      background-color: transparent;
      width: 100%;
    }
    .nav-link {
      color: $base-color !important;
    }
  
    .nav-link:hover {
      color:$hover-base-color !important;
    }
  
    h1 {
     font-family: $font;
     color: $base-color;
    }
    .figures {
      display: block;
      width: 50%;
    }
    .image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  
}

.svg-anim {
  width: 100%;
  height: 100%;
}

.about-me {
  background-color: white;
  width: 100%;

  .title-box {
    width: 100%;
  }

  .photo-box {
    transform-style: preserve-3d;
    background: linear-gradient(89.78deg, #1170DF 49.97%, #00D5E2 94.42%);
  }

  .photo {
    object-fit: contain;
    width: 75%;
    height: 100%;
    margin: 2.5em 2.5em;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    z-index: 10;
  }

  .write-about {
    width: 100%;
    text-align: center;
  }
  .title-about {
    text-align: center;
    font-size: 4ch !important;
  }
}

@media (min-width: 991px) {
  .about-me {
    .content-info {
      flex-direction: row !important;
    }
    .title-box {
      width: 75%;
    }
    .photo {
      width: 25%;
      height: 100%;
    }
    .write-about {
      width: 50%;
      text-align: right;
    }
    .title-about {
      font-size: 7ch !important;
    }
  }
}  
